---
---

$backdrop-color: rgb(0,0,0);
$backdrop-color-alpha: rgba(0,0,0,0.4);
$modal-background-color: #fefefe;
$close-button-color: #aaaaaa;
$close-button-focus-color: #000;


.modal-backdrop {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $backdrop-color;
    background-color: $backdrop-color-alpha;
}

.modal-content {
    position: relative;
    padding: 1.5em;
    margin: auto;
    max-height: 80%;
    max-width: 80em;
    overflow: auto;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #888;
    background-color: $modal-background-color;
}

.close {
    color: $close-button-color;
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 28px;
    font-weight: bold;
    height: 1em;
    line-height: 1em;
    &:focus,
    &:hover {
        color: $close-button-focus-color;
        text-decoration: none;
        cursor: pointer;
    }
}