<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Aperture</title>
        <link rel="stylesheet" type="text/css" href="css/main.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
    </head>
    <body>
    	<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Aperture</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav mr-auto">
					<a class="nav-item nav-link" href=".">Home</a>
					<a class="nav-item nav-link" href="user">User</a>
				</div>
				<span>
					<a type="button" class="btn btn-outline-primary active" href="#">Login<span class="sr-only">(current)</span></a>
				</span>
			</div>
		</nav>
		
		<header class="page-header">
			<h1>Login</h1>
		</header>
		
		<div id="loginCard" class="card d-flex">
			<div class="card-body mx-auto">
		        <div th:if="${param.error}">
		            Invalid username and password.
		        </div>
		        <div th:if="${param.logout}">
		            You have been logged out.
		        </div>
		        <form th:action="@{/login}" method="post">
		            <div class="form-group">
		            	<label>User Name : <input id="username" type="text" class="form-control" name="username"/></label>
		            </div>
		            <div class="form-group">
		            	<label>Password: <input id="password" type="password" class="form-control" name="password"/></label>
		            </div>
		            <div class="form-group">
		            	<input type="submit" class="btn btn-primary" value="Sign In"/>
		            </div>
		        </form>
		    </div>
	    </div>
    </body>
</html>