<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="https://www.thymeleaf.org">

	<th:block th:include="fragments/common.html :: head"></th:block>

	<body>

		<th:block th:include="fragments/angular-scripts.html :: angularjs"></th:block>
		<th:block th:include="fragments/angular-scripts.html :: common"></th:block>
		<th:block th:include="fragments/angular-scripts.html :: user"></th:block>

		<th:block th:include="fragments/common.html :: nav"></th:block>

		<header class="page-header">
			<h1>User Page</h1>
		</header>

		<main data-ng-app="user.module" data-ng-controller="UserController as vm">

			<div class="card d-flex">
				<div class="card-body mx-auto">
					<div class="input-group">
						<label for="userId">Search By User ID:
							<input id="userId" type="text" class="form-control" name="userId" data-ng-model="vm.searchUserId"/>
						</label>
					</div>
					<input type="button" class="btn btn-primary" value="Search" data-ng-click="vm.userSearch(vm.searchUserId)"/>
				</div>
			</div>

			<div class="card d-flex">
				<div class="card-body mx-auto">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">User ID</th>
								<th scope="col">Name</th>
								<th scope="col">Age</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="user in vm.userResults">
								<td>{{user.userId}}</td>
								<td>{{user.name}}</td>
								<td>{{user.age}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</main>

	</body>
</html>