header.page-header {
	color: red;
	text-align: center;
}

div.card {
	margin: 1em auto;
	width: fit-content;
	max-width: 80em;
	max-height: 40em;
	overflow: auto;
}
div.card input,
div.card table {
	min-width: 400px;
}