<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

    <th:block th:fragment="angularjs">
        <script type="text/javascript" src="js/angular/angular-1.7.9.min.js"></script>
    </th:block>

    <th:block th:fragment="common">
        <script type="text/javascript" src="js/angular/common/common.module.js"></script>
        <script type="text/javascript" src="js/angular/common/common.service.js"></script>
        <script type="text/javascript" src="js/angular/common/endpoint.service.js"></script>
    </th:block>

    <th:block th:fragment="user">
        <script type="text/javascript" src="js/angular/user/user.module.js"></script>
        <script type="text/javascript" src="js/angular/user/user.service.js"></script>
        <script type="text/javascript" src="js/angular/user/user.controller.js"></script>
    </th:block>

    <th:block th:fragment="scraper">
        <script type="text/javascript" src="js/angular/scraper/scraper.module.js"></script>
        <script type="text/javascript" src="js/angular/scraper/scraper.service.js"></script>
        <script type="text/javascript" src="js/angular/scraper/scraper.controller.js"></script>
    </th:block>

</html>